﻿<?xml version="1.0" encoding="utf-8"?>
<pdef:Page xmlns:pdef="http://www.br-automation.com/iat2015/pageDefinition/v2" id="MainPage" layoutRefId="MyLayout">
  <Assignments>
    <Assignment type="Content" baseContentRefId="ContentMain" areaRefId="area1" />
  </Assignments>
</pdef:Page>